[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
chromedriver-binary = "==92.0.4515.107.0"
selenium = "==3.141.0"

[dev-packages]

[requires]
python_version = "3.8"
